# Pandas tutorial

# DataFrame

In [ ]:
import numpy as np
import pandas as pd
# create a dictionary called data with simple data
data = {"Name":["Alice","Bob","Charlie","Megnas","Sara"],
        "Age":[25,30,22,35,28],
        "Gender":["Male","Male","Female","Male","Female"],
       "Salary":[50000,55000,4000,70000,48000]}

df = pd.DataFrame(data)
print(df)
print(df.index) # Accessing the index

In [ ]:
# You can set a custom index by [variable.set_index()]
df_with_index = df.set_index("Name")
print(df_with_index)
# you can see the traditional index method has repleced by name

In [ ]:
# to reset you can use (variable.reset_index())
df_reset = df.reset_index()
print(df_reset)

In [ ]:
# use loc[] for indexing it is traditional method
row = df.loc[1]
print(row)

In [ ]:
# Accessing column
age_column = df["Age"]
print(age_column)

In [ ]:
# Accessing row 
#Note it have two mathod (.iloc[]) for positional and(.loc[]) for label based indexing
#Second one i used in previous 
second_row = df.iloc[1]
print(second_row)

In [ ]:
# Accessing multiple row and column using loc[]
subset_name_age = df.loc[0:2,["Name","Age"]]
print(subset_name_age)

In [ ]:
# Accessing row base condition 
# get those data which has highet age than 25
filtered_data = df[df["Age"]>25]
print(filtered_data)

In [ ]:
# Accessin specific cell use .at[] or .iat[] both are same but .at[] gives label based 
# and .iat[] gives integer position based 
# let use .at[] for charlie's salary
charlis_salary = df.at[2,"Salary"] #.at[index(row),position_name]
print(charlis_salary)
# let use .iat[] for sara's age
sara_age = df.iat[4,1] #.iat[index(row),position_in_int] for exam, position_in_int=1 indicate age
print("Sara's age is ",sara_age)

# indexing and selecting
Functions  and their Description in the below
<br>DataFrame.iat[] = 	Access a single value for a row/column pair by integer position.
<br>DataFrame.pop() = 	Return item and drop from DataFrame.
<br>DataFrame.xs() = Return a cross-section (row(s) or column(s)) from the DataFrame.
<br>DataFrame.get() =	Get item from object for given key (e.g DataFrame column).
<br>DataFrame.isin() =	Return a boolean DataFrame showing whether each element is contained in values.
<br>DataFrame.where() =	Return an object of the same shape with entries from self where cond is True otherwise from other.
<br>DataFrame.mask() = Return an object of the same shape with entries from self where cond is False otherwise from other.
<br>DataFrame.insert() = Insert a column into DataFrame at a specified location.

# Slicing data

In [ ]:
import numpy as np
import pandas as pd
player_list = [["MS_Dhoni",36,75,500000],
              ["Villars",38,74,380000],
              ["Kholi",33,70,580000],
              ["Shakib",32,77,593000],
              ["Liton",28,69,480000],
              ["Shanto",30,73,490000],
              ["Tamim",35,75,600000]]
df = pd.DataFrame(player_list,columns=["Name","Age","Height","Salary"])
print(df)

# slicing using .iloc[] (integer based indexing)

In [ ]:
# slicing rows
df1_rows = df.iloc[0:4] # in this code output will be index 0 to 3 with all data 
print(df1_rows)

In [ ]:
#slicing columns 
df1_columns = df.iloc[:, 0:2] # it will print all data of name and age columns 
# Note: df.iloc[:, 0:2] there (:) means all data of row
print(df1_columns)

In [ ]:
# getting specific value
# get the salary of Shakib for instance
df1_salary = df.iloc[3,3]
print(df1_salary)

In [ ]:
# Using boolean condition
# print those player who are more than 35 years old
df1_filter = df[df["Age"]>35].iloc[: ,:]
print(df1_filter)

# Filter dataframe with multiple condition

In [ ]:
# assign module
import pandas as pd
# assign data
dataframe = pd.DataFrame({"Name":["Rachel","Monica","Phobi","Ross","Chelender","Joey"],
                         "Age":[30,35,37,33,34,30],
                         "Salary":[100000,93000,95000,88000,120000,94000],
                         "Job":["Designer","Chef","Masus","Palentology","It","Artist"]})
# display dataframe
display(dataframe)

In [ ]:
# filter with loc
display(dataframe.loc[(dataframe["Salary"]>=100000)&(dataframe["Age"]<40)&
        (dataframe["Job"].str.startswith("D")),["Name","Job"]])

In [ ]:
# filter using numpy
import numpy as np
filter_value = np.where((dataframe["Salary"]<=100000)&(dataframe["Age"]>30)&
                       (dataframe["Job"].str.startswith("C")))
print(filter_value) # it's gives index or location of the dataframe
display(dataframe.loc[filter_value])

In [ ]:
# filter with query
display(dataframe.query('Salary <= 100000 & Age > 30 & Job.str.startswith("C").values'))

In [ ]:
# using boolean work on a column only
display(dataframe[(dataframe["Salary"]>100000)&(dataframe["Age"]<40)&
        (dataframe["Job"].str.startswith("I"))]
       [["Name","Age","Salary"]])

In [ ]:
# using .eval
display(dataframe[dataframe.eval("Salary > 100000 & (Age < 40) & Job.str.startswith('I').values")])

# Note : filtering dataframe is important
Here some important point you should know
# 1. (.loc[]) works with column labels and indexes.
# 2. (.eval and .query) works only with column.
# 3. Boolean indexing works with values in a column only.

# Merging, Joining and Concatenating

In [ ]:
import pandas as pd
data1 = {"Name":["Roni","Joni","Moni","Depek"],
        "Age":[23,24,22,32],
        "Address":["Nakpur","Khanpur","Jattpur","Rongpur"],
        "Qualification":["MA","PHD","MSC","MCA"]}

data2 = {"Name":["Abhi","Khabi","Jhabi","Fabi"],
        "Age":[17,14,12,52],
        "Address":["Nakpur","Khanpur","Jattpur","Rongpur"],
        "Qualification":["MA","PHD","MSC","MCA"]}
df = pd.DataFrame(data1, index=[0,1,2,3])

df1 = pd.DataFrame(data2, index=[4,5,6,7])
print(df, "\n\n", df1)

In [ ]:
#using pd.concat() for concatenating
frame = [df, df1]
res1 = pd.concat(frame)
res1

2. concatenating dataframe by setting logic on axis

In [ ]:
import pandas as pd
data3 = {"Name":["Roni","Joni","Moni","Depek"],
        "Age":[23,24,22,32],
        "Address":["Nakpur","Khanpur","Jattpur","Rongpur"],
        "Qualification":["MA","PHD","MSC","MCA"],
        "Mobile_no":[97,98,58,76]}

data4 = {"Name":["Abhi","Khabi","Jhabi","Fabi"],
        "Age":[17,14,12,52],
        "Address":["Nakpur","Khanpur","Jattpur","Rongpur"],
        "Qualification":["MA","PHD","MSC","MCA"],
        "Salary":[1000,2000,3000,4000]}
df2 = pd.DataFrame(data3, index=[0,1,2,3])

df3 = pd.DataFrame(data4, index=[4,5,6,7])
print(df, "\n\n", df1)

In [ ]:
res2 = pd.concat([df2, df3], axis=1, join='outer')
res2

In [ ]:
#concatenating by ignoring index
res3 = pd.concat([df2, df3], ignore_index=True)
res3

3. concatening with group keys

In [ ]:
# concatening df and df1
res4 = pd.concat([df, df1], keys=['x','y'])
res4

4. concatening mixed dataframe and series

In [ ]:
import pandas as pd
data2 = {"Name":["Jai","Princi","Gaurav","Anuj"],
        "Age":[27,24,22,32],
        "Address":["Nagpur","Khanpur","Jattpur","Knnuaj"],
        "Qualification":["MA","MSc","BA","Phd"]}
data_frame = pd.DataFrame(data2, index=[0,1,2,3])
s1 = pd.Series([1000,2000,3000,4000], name="Salary")
print(data_frame, "\n\n", s1)

In [ ]:
#mixing data_frame and s1
res5 = pd.concat([data_frame,s1], axis=1)
res5

# Merging

The merge() function is usefull when a dataframe is based on a common column or index

In [ ]:
import pandas as pd
data3 = {"Key":["K0","K1","K2","K3"],
        "Name":["Rohim","Korim","Jobbar","Nadim"],
        "Age":[27,24,22,32]}
data4 = {"Key":["K0","K1","K2","K3"],
        "Address":["Rangpur","Khonpur","Bonpur","Jonpur"],
        "Qualification":["MA","MBA","Phd","BA"]}
df1 = pd.DataFrame(data3)
df2 = pd.DataFrame(data4)
print(df1,"\n\n",df2)

In [ ]:
# merge using one key
ans = pd.merge(df1,df2, on="Key")
ans

2. merge on multiple keys

In [ ]:
data5 = {"Key":["K0","K1","K2","K3"],
        "Key1":["K0","K1","K0","K1"],
        "Name":["Jay","Princy","Gaurov","Pinki"],
        "Age":[27,24,22,32]}
data6 = {"Key":["K0","K1","K2","K3"],
        "Key1":["K0","K0","K0","K0"],
        "Address":["Nakpur","Khanpur","Panpur","Jattpur"],
        "Qualificaton":["MA","MBA","Msc","BA"]}
df5 = pd.DataFrame(data5)
df6 = pd.DataFrame(data6)
print(df5,"\n\n",df6)

ans2 = pd.merge(df5,df6, on=["Key","Key1"])
print("After merging", ans2)

3. Merging using how Argument
 MERGE : METHOD :JOIN NAME :	DESCRIPTION <br>
left :	LEFT OUTER JOIN :	Use keys from left frame only<br>
right :	RIGHT OUTER JOIN :	Use keys from right frame only<br>
outer	: FULL OUTER JOIN :	Use union of keys from both frames<br>
inner :	INNER JOIN :	Use intersection of keys from both frames

In [ ]:
# how="left"means in order to use keys from left frame only.
# in this it include all rows from the left DataFrame and only matching rows from the right. 
ans3 = pd.merge(df5,df6,how="left",on=["Key","Key1"])
ans3

In [ ]:
# how="right"means  in order to use keys from right frame only.
# In this it includes all rows from the right DataFrame and only matching rows from the left.
ans4 = pd.merge(df5,df6,how="right",on=["Key","Key1"])
ans4

In [ ]:
# how = 'outer' in order to get union of keys from dataframes.
#In this it combines all rows from both DataFrames, filling missing values with NaN.
ans5 = pd.merge(df5,df6,how="outer",on=["Key","Key1"])
ans5

In [ ]:
#how = 'inner' in order to get intersection of keys from dataframes. 
#In this it only includes rows where there is a match in both DataFrames.
ans6 = pd.merge(df5,df6,how="inner",on=["Key","Key1"])
ans6

# Joining using .join()

In [ ]:
import pandas as pd
data7 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32]}

data8 = {'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'],
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons']}

df7 = pd.DataFrame(data7,index=['K0', 'K1', 'K2', 'K3'])

df8 = pd.DataFrame(data8, index=['K0', 'K2', 'K3', 'K4'])

print(df7, "\n\n", df8)

dat_join = df7.join(df8)
dat_join

In [ ]:
# now we use how="outer" to get union
dat_join2 = df7.join(df8,how="outer")
print(dat_join2)

2. Joining with on argument

In [ ]:
import pandas as pd

data9 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Key':['K0', 'K1', 'K2', 'K3']}

data10 = {'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'],
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons']}

df9 = pd.DataFrame(data9)

df10 = pd.DataFrame(data10, index=['K0', 'K2', 'K3', 'K4'])


print(df9, "\n\n", df10)

result = df9.join(df10,on="Key")
print("result is based on key \n",result)

3. Joining with multiple index

In [ ]:
import pandas as pd

data11 = {'Name':['Jai', 'Princi', 'Gaurav'],
        'Age':[27, 24, 22]}

data12 = {'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kanpur'],
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons']}

df11 = pd.DataFrame(data11, index=pd.Index(['K0', 'K1', 'K2'], name='key'))

index = pd.MultiIndex.from_tuples([('K0', 'Y0'), ('K1', 'Y1'),
                                   ('K2', 'Y2'), ('K2', 'Y3')],
                                   names=['key', 'Y'])

df12 = pd.DataFrame(data12, index= index)


print(df11, "\n\n", df12)

In [ ]:
result = df11.join(df12, how='inner')
print(result)