In [1]:
# Importing the pandas library
import pandas as pd

# creating a dataframe object
student_register = pd.DataFrame()

# assigning values to the 
# rows and columns of the dataframe
student_register['Name'] = ['Abhijit','Smriti',
                            'Akash', 'Roshni']
student_register['Age'] = [20, 19, 20, 14]
student_register['Student'] = [False, True,
                               True, False]

print(student_register)

      Name  Age  Student
0  Abhijit   20    False
1   Smriti   19     True
2    Akash   20     True
3   Roshni   14    False

<h1>Data Manipulation on Dataset:</h1>
<b>Getting Shape and information of the data:</b>
<p>There are three support functions, .shape, .info() and .corr() which output the shape of the table, information on rows and columns, and correlation between numerical columns.</p>

In [8]:
# Dimension of the dataset:
# use .info():
print("Info:\n")
student_register.info()
# use .shape:
print("\nShape:\n")
print(student_register.shape)
# use .corr():
print("\nCorrelation:\n")
print(student_register.corr(numeric_only=True))

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     4 non-null      object
 1   Age      4 non-null      int64
 2   Student  4 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 200.0+ bytes

Shape:

(4, 3)

Correlation:

              Age   Student
Age      1.000000  0.502519
Student  0.502519  1.000000

<h1>Getting Statistical Analysis of Data:</h1>
<p>Before processing and wrangling any data you need to get the total overview of it, which includes statistical conclusions like standard deviation(std), mean and it’s quartile distributions.</p>

In [1]:
# Importing the pandas library
import pandas as pd

# creating a dataframe object
student_register = pd.DataFrame()

# assigning values to the 
# rows and columns of the dataframe
student_register['Name'] = ['Abhijit','Smriti',
                            'Akash', 'Roshni']
student_register['Age'] = [20, 19, 20, 14]
student_register['Student'] = [False, True,True, False]

In [4]:
# for showing the statistical info in the dataframe.
print("Describe :\n",student_register.describe())

Describe :
              Age
count   4.000000
mean   18.250000
std     2.872281
min    14.000000
25%    17.750000
50%    19.500000
75%    20.000000
max    20.000000

<b>The description of the output given by .describe() method is as follows:</b><br> 

1. count is the number of rows in the dataframe.
2. mean is the mean value of all the entries in the “Age” column.
3. std is the standard deviation of the corresponding column.
4. min and max are the minimum and maximum entry in the column respectively.
5. 25%, 50% and 75% are the First Quartiles, Second Quartile(Median) and Third Quartile respectively, which gives us important info on the distribution of the dataset and makes it simpler to apply an ML model.

<h1>Dropping Columns from Data:</h1>
Let's drop a column from the data. We will use the drop function from the pandas. We will keep axis = 1 for columns.

In [10]:
student = student_register.drop("Age",axis=1)
print(student)
# From the output, we can see that the 'Age' column is dropped.

      Name  Student
0  Abhijit    False
1   Smriti     True
2    Akash     True
3   Roshni    False

<h1>Dropping Rows from Data:</h1>
Let's try dropping a row from the dataset, for this, we will use drop function. We will keep axis=0.

In [11]:
student = student.drop(2,axis=0)
print(student)
#In the output we can see that the 2 row is dropped.

      Name  Student
0  Abhijit    False
1   Smriti     True
3   Roshni    False